
.prayertimes-clearfix {
	clear:both;
}

#edit-location-name-wrapper {
	float:left;
}

#edit-location-set {
	margin-left:10px;
	margin-top:33px;
}

#edit-location-lat-wrapper, #edit-location-long-wrapper {
	float:left;
}

.prayertimes-loading {
	background:url("../images/loader.gif") no-repeat scroll right center transparent;
}